<h1>Welcome to the amazing Cd Shop!</h1>

<a href="/new_cd">Click here to add your new CD</a>

@{
  if (Model == null )
  {
    <h3>No Cd's have been Added please add one above.</h3>
  }
  else
  {
    foreach (var Cd in Model)
    {
  <h3><a href='/Cd/@Cd.GetId()'>@Cd.GetCdName()</a></h3>
    }
  }
}
<p>
  <a href="/clear_categories">Cds clear</a>
</p>
