<h1>Add your Cd's below</h1>
<form action="/" method="post">
  <label for="Cd-Name">Cd Name</label>
  <input id ="Cd-Name" type="text" name="Cd-Name" value="">
  <label id ="Cd-Artist" for="Cd-Artist">Cd Artist</label>
  <input id ="Cd-Artist" type="text" name="Cd-Artist" value="">
  <button type="submit" name="button">Enter Information</button>

</form>
