<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Enter an artist to search by!!!!!!!!1111!</h1>
    <form action="/search" method="post">
      <input type="text" name="searchString" id="searchString">
      <button type="submit">Search</button>
    </form>
    @{
      if (Model == null )
      {
        <h3>Cd's will be listed below after search..</h3>
      }
      else
      {
        foreach (var Cd in Model)
        {
          System.Console.WriteLine(Cd);
      <h3><a href='/Cd/@Cd.GetId()'>@Cd.GetCdName()</a></h3>
        }
      }
    }
  </body>
</html>
